.padding{

    padding: 20px;
    
}

body {
    font-family: Roboto, Calibri, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    
}

h1 {font-size: 150%;}
h2 {font-size: 130%;}

a   { text-decoration: none}
a:link{color: #d90000}
a:visited{color: #cc6666}
.center { text-align: center}

 html {
    font-size: 100%; /* Entspricht somit 16px */
}

h1 { font-size: 2rem; }
h2 { font-size: 1.9rem;} 
h3 { font-size: 1.8rem;}
h4 { font-size: 1.7rem;}
h5 { font-size: 1.6rem;}
h6 { font-size: 1.5rem;} 
p { font-size: 1rem; }
a{ font-size: 1.1rem; }