@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Bahiana');

body {
    background: darkturquoise;
    
}

h1 {
    font-family: 'Bahiana';
    font-size:  38pt;
}

#Joel {
    height: 300px;
    width: 450px;
    border-radius: 20px;
    border: 1px solid black;
}


.article1{
    background: mediumturquoise;
     height: 700px;
}

#wrapper {

    max-width: 75%;
    margin: 30px auto;
}

#navigation {
    max-width: 75%;
    margin: 30px auto;
}

#hyperlink a {
    
    text-decoration: none;
    
}

.nav-btn {
    text-decoration: none;
    color: black;

}

#hyperlink {
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.btn {
      
    padding: 9px 20px;
    border-radius: 3px;
    opacity: 0.9; /* 10% Transparenz */
}

.btn-primary {
    background-color: #7e57c2;
    color: white;   
}
.btn-settings {
    background-color: lightcoral;
    color: white;
}

.makeBlock {
    display: block;
}

.makeInline {
    display: inline;
}
.text-center {
    text-align: center;
}

.marRight5 {
    margin-right: 5px !important;
}
.marLeft12 {
    margin-left: 12px;
}

